<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/header-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - happymmall</title>
</head>
<body>
    <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">MMall</a>
                    <span>></span>
                    <!-- 在这里也使用了比较灵活的方式，title直接根据webpackPlugin中的title -->
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <%= require('html-loader!./layout/nav-side.html')  %>
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title">个人中心</div>
                    <div class="panel-body">
                        <div class="loading"></div>
                        <!-- 以下内容是通过js渲染的，在未渲染页面之前要先加载loading，将以下内容放到index.string-->
                        <!-- <div class="form-line">
                            <span class="label">电话</span>
                            <span class="text">ppp</span>
                        </div>
                        <div class="form-line">
                            <span class="label">邮箱</span>
                            <span class="text">ppp</span>
                        </div>
                        <div class="form-line">
                            <span class="label">问题</span>
                            <span class="text">ppp</span>
                        </div>
                        <div class="form-line">
                            <span class="label">答案</span>
                            <span class="text">ppp</span>
                        </div>
                        <div class="form-line">
                            <a href="" class="btn btn-submit">编辑</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
</body>
</html>